@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.baba {
    width: 90%;
    margin: 10px auto;

}

.carousel {
    border: .5px solid ;
    height: 500px;
    overflow: hidden;
    position: relative;
    /* box-shadow: 0px -80px 1000px 1px #602A9A; */

}

.slider {
    display: flex;
    height: 100%;
    width: 800%;
    /* border: 1px solid red; */
    transition: all 0.7s;
}

.slider section {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-controls .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow.left {
    left: 10px;
    /* padding:80px 20px; */
    font-size: 40px;
}

.arrow.right {
    right: 10px;
    /* padding:80px 20px; */
    font-size: 40px;
}

.slider-controls ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.slider-controls ul li {
    width: 10px;
    height: 10px;
    border: 1px solid #f3a1fa;
    border-radius: 50%;
    margin: 3px;
    background: transparent;
    cursor: pointer;
}

.slider-controls ul li.selected {
    background: #ffffff;
}

.arrow {
    background-color: #986ba3;
    border-radius: 50%;
}

.arrow:hover {
    background-color: #eb9dff;
}

.slider section img {
    height: 100%;
    filter: brightness(0.8);
    box-shadow: 0px -80px 1000px 1px #602A9A;

}

.slider section h1 {
    font-size: 40px;
}

.slider section {
    color: aliceblue;
    /* box-shadow: 0px -80px 1000px 1px #602A9A; */

}

.section-content {
    margin: auto 8% auto 3%;

}

.slider section p {
    margin-top: 5%;
}
@media only screen and (max-width: 768px) {

.slider section {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.baba {
    width: 100%;
    margin: 10px auto;
}
.slider section img{
    width: 85vw;
    height: auto;
}
.arrow {
    background-color: #986ba3;
    border-radius: 50%;
    opacity: 0.6;
}
.slider section h1 {
    font-size: 20px;
    margin-top: -10%;
}
.slider-controls ul li{
    transform: scale(0.5);
}
}