@media only screen and (max-width: 768px) {
.video-frame{
    margin: 0px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}
.video-frame div{
    width: 100vw;
    /* margin: 2%; */
    /* padding: 2%; */
    color: aliceblue;
}

.video-frame div h1{
    font-size: 25px;
    text-wrap: wrap;
    margin-top: 2%;
}
.video-frame div p{
    font-size: 12px;
    text-align: justify;
}
.video-content p,h1{
    width: 95%;
    margin: 2%;
}
.video-content{
    width: 100%;
    margin: 0%
}

.video-frame div li{
    font-size: 12px;
}
.video-frame div h2{
    font-size: 40px;
    text-align: center;
    margin:0px;
}
.bento-img-text{
    font-size: 30px;
    color: white;
    font-weight: 600;
    filter: drop-shadow(0px 0px 5px black);
}
.founders img {
    width: 90px;
    margin-top: 20px;
}
.founders-img{
    gap: 22px;
}
.founders img{
    outline-offset: 2px;
}
.founders{
    margin-bottom: 40px;
}
.founders p{
    font-size: 12px;
}
.team i{
    font-size: 15px;
}
.other-team{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}

.other-team div:nth-child(even){
    margin-top: 0px;
}
.other-team-img{
    height: 150px;
    width: 90px;
    background-size: cover;
}
.other-team-img div p{
    margin-bottom: 5px;
    font-size: 8px;
}
.other-team-img div h3{
    font-size: 10px;
}
.pricing{
    display: none;
}
.imgdivmob{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    gap: 50px;
    background-color: rgb(46, 24, 46);
    padding: 20px;
    filter: drop-shadow(0px 0px 2px purple);
}
.imgdivmob ul li{
    list-style: none;
        font-size: 10px;
}
.imgdivmob ul{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.h-l{
    text-align: left;
    padding-left: 0px;
}
.h-r{
    text-align: right;
    padding-left: 0px;
}

}