body {
    width: 100vw;
    overflow-x: hidden;
}

.logocomp {
    width: 140px;
}

.video-frame {
    margin: 2%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.video-frame div {
    width: 800px;
    margin: 2%;
    color: aliceblue;
}

.video-frame div h1 {
    font-size: 70px;
}

.video-frame div p {
    margin: 2% auto;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
}

.video-frame div ul {
    margin-top: 4%;
}

.video-frame div li {
    font-size: 18px;
    margin-top: 3%;
}

.video-frame div h2 {
    font-size: 50px;
    margin: 5% auto 2% 5%;
    text-align: center;
    font-weight: 100;
}

.bento-img-text {
    font-size: 30px;
    color: white;
    font-weight: 600;
    filter: drop-shadow(0px 0px 5px black);
}

.founders img {
    width: 200px;
    border-radius: 50%;
     outline-offset: 10px;
    outline: solid 0.5px rgb(187, 59, 226);
    transition: 0.5s;
}
.founders img:hover{
    box-shadow: inset 0px 0px 100px 10px #602A9A,0px 0px 100px 10px #602A9A;
    transform: scale(1.1);
}

.team h2 {
    color: white;
    margin: 2% auto 1% auto;
    font-weight: 200;
}

.team {
    text-align: center;

}
.founders-img{
    display: flex;
    gap: 80px;
    margin: 2%;
    justify-content: center;
}
.founders p{
    color: aliceblue;
    font-size: 20px;
    margin: 20px auto 5px auto;
}
.team i{
    color: rgb(219, 219, 219);
    font-size: 20px;
    font-weight: 100;
    margin: auto 10px;
    cursor: pointer;
}
.team i:hover{
    transform: scale(1.1);
}
.other-team{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.other-team div{
    border-radius: 12px;
}
.other-team img{
    border-radius: 20px;
    
}
.other-team div:nth-child(even){
    margin-top: 80px;
}
.other-team-img{
    height: 350px;
    width: 220px;
    background-size: cover;
    transition: 0.2s;
}
/* .other-team-img-container:hover .other-team-img{
    transform: rotate3d(0, 3, 0, 180deg) scale(1.2);
    
} */
.other-team-img div{
    background: linear-gradient(to bottom , rgba(0, 0, 0, 0.01), rgb(0, 0, 0));
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: end;
}
.other-team-img div p{
    margin-bottom: 20px;
    font-size: 12px;
}
.pricing{
    display: none; 
}